<!DOCTYPE html>
<html ng-app="example">
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles/styles.css"/>
        <script src="lib/d3/d3.js" charset="utf-8"></script>
        <script src="/lib/geometry.js"></script>
        <script src="lib/jquery/dist/jquery.js"></script>
    </head>
    <body>
        <% if ( user ) { %>
            <a href="/signout">Sign out</a>
        <% } else { %>
            <h2>Welcome</h2>
            <a href="/signup">Signup</a>
            <a href="/signin">Signin</a>
        <% } %>
        
        <div ui-view></div>
        
        <script type="text/javascript">
            window.user = <%- user || 'null'  %>;
        </script>
        
        <script type="text/javascript" src="lib/angular/angular.js"></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script type="text/javascript" src="application.js"></script>
        <script src="/example/example.client.module.js"></script>
        <script src="/example/controller/example.client.controller.js"></script>
        <script src="/example/example.client.routes.js"></script>
        <script src="/users/users.client.module.js"></script>
        <script src="/users/services/authentication.client.service.js"></script>
        <script src="/d3/d3.client.module.js"></script>
        <script src="/d3/d3.client.factory.js"></script>
        <script src="/example/draw-cricles.client.directive.js"></script>
    </body>
</html>